*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

background-image:url("/static/background.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;
}

.container{

width:500px;

background:rgba(0,0,0,0.7);

padding:30px;

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0px 0px 25px cyan;

}

.logo{

width:120px;

display:block;

margin:auto;

margin-bottom:15px;

}

h1{

text-align:center;

color:white;

margin-bottom:15px;

text-shadow:0px 0px 10px cyan;

}

.car{

width:300px;

display:block;

margin:auto;

margin-bottom:20px;

animation:carmove 3s infinite;

}

@keyframes carmove{

0%{
transform:translateX(-10px);
}

50%{
transform:translateX(10px);
}

100%{
transform:translateX(-10px);
}

}

label{

color:white;

font-size:18px;

font-weight:bold;

}

input,select{

width:100%;

padding:12px;

margin-top:8px;

margin-bottom:18px;

border:none;

border-radius:10px;

font-size:16px;

}

button{

width:100%;

padding:14px;

font-size:20px;

font-weight:bold;

background:linear-gradient(90deg,#ff512f,#dd2476);

border:none;

border-radius:10px;

color:white;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.05);

box-shadow:0px 0px 20px orange;

}

.result{

margin-top:20px;

padding:15px;

background:green;

border-radius:10px;

text-align:center;

color:white;

font-size:24px;

font-weight:bold;

}
.about{
color:white;
text-align:center;
margin-bottom:20px;
font-size:16px;
line-height:1.5;
}

.prediction-box{
margin-top:20px;
}

.usd-box{
background:linear-gradient(135deg,#0072ff,#00c6ff);
padding:20px;
border-radius:15px;
text-align:center;
color:white;
margin-bottom:15px;
box-shadow:0px 0px 20px #00c6ff;
}

.usd-box p{
font-size:30px;
font-weight:bold;
}

.inr-box{
background:linear-gradient(135deg,#11998e,#38ef7d);
padding:20px;
border-radius:15px;
text-align:center;
color:white;
box-shadow:0px 0px 20px #38ef7d;
}

.inr-box p{
font-size:30px;
font-weight:bold;
}